<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ATG Category"
            id="com.douglas.atg.project">
      </category>
      <view
            name="OC Projects Viewer"
            icon="icons/oracle.ico"
            category="com.douglas.atg.project"
            class="com.douglas.atg.project.views.AtgProjectsView"
            id="com.douglas.atg.project.views.AtgProjectsView">
      </view>
      <view
            name="OC Properties Viewer"
            icon="icons/oracle.ico"
            category="com.douglas.atg.project"
            class="com.douglas.atg.project.views.AtgPropertiesView"
            id="com.douglas.atg.project.views.AtgPropertiesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.douglas.atg.project.views.AtgProjectsView">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.douglas.atg.project.views.AtgPropertiesView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.douglas.atg.project.preferences.WorkbenchPreferencePage"
            id="com.douglas.atg.project.preferences.page"
            name="OC Project Viewer Preferences">
      </page>
   </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:com.douglas.atg.project.views.AtgProjectsView">
      <command commandId="com.douglas.atg.project"
        label="Compare" style="push">
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="com.douglas.atg.project.handler.ComparisonHandler"
      id="com.douglas.atg.project" name="Compare">
    </command>
  </extension>
</plugin>
